<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="fa fa-info-circle"></i>
        {{ _('What is the LiveSchema Updater?') }}
    </h2>
    <div class="module-content">
        <p>
            The LiveSchema Updater is used to find schema datasets by scraping existing catalogs. 
            <br />
            Besides searching and collecting new data, the LiveSchema Updater parses the new resources and produce new reference formats (e.g., TTL, RDF, CSV)
            <br /><br />
            This service can be run by LiveSchema admins. 
            <br />
            In this process the already existing catalogs will be updated, then some other new catalogs or single datasets can be added, by manually creating a list with the new source links to be scraped.
        </p>
    </div>
</div>