<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="fa fa-info-circle"></i>
        {{ _('What is the FCA Generator?') }}
    </h2>
    <div class="module-content">
        <p>
            The FCA Generator takes a reference schema as input and converts it into a Formal Concept Analysis (FCA) context.
            <br />
            This output can be then easily used to run analysis over the input schema and train ML models for a specific task, such as Relational Learning. 
            <br /><br />
            The theoretical assumptions grounding the FCA encoding are explained in <a href="https://www.researchgate.net/publication/341901941_Entity_Type_Recognition_--_dealing_with_the_Diversity_of_Knowledge" target="blank">Entity Type Recognition -- dealing with the Diversity of Knowledge</a>.
        </p>
    </div>
</div>