<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="fa fa-info-circle"></i>
        {{ _('What is the Upload Dataset?') }}
    </h2>
    <div class="module-content">
        <p>
            The Dataset Uploader is used to submit new datasets. 
            <br />
            This service can be run by subscribed <a href="{{ h.url_for('user.read', id=c.userobj.name) }}">users</a> (please see the subscription page for permission policies). 
            <br /><br />
            Once the dataset is uploaded to LiveSchema, a corresponding page with customizable data and related features will be available. 
            <br />
            Moreover, the dataset can be used as input of the available LiveSchema services and functionalities.  
        </p>
    </div>
</div>