<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="fa fa-info-circle"></i>
        {{ _('What is the Visualization Generator?') }}
    </h2>
    <div class="module-content">
        <p>
            {% trans %}
            The Visualization Generator is tasked with generating the input format
            used by the Visualization tool <a href=https://asntech.shinyapps.io/intervene>Intervene</a>
            {% endtrans %}
        </p>
    </div>
</div>