<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="fa fa-info-circle"></i>
        {{ _('What are these Services?') }}
    </h2>
    <div class="module-content">
        <p>
            The LiveSchema initiative gathers a huge amount of graph-structured data sets from a collection of already existing catalogs. 
            <br />
            It provides an extensive range of data formats (TTL, RDF, and FCA), and access methods (full-text search, data dump or SPARQL). 
            <br /><br />
            Besides providing a hub of the most valuable existing schema catalogs, the main mission is to offer a family of services to
            <i>easily access</i>, <i>accurately understand</i>, <i>manage</i>, <i>analyze</i>, and <i>re-use</i> data  in the context of vertical domain <i>knowledge application development</i> and <i>statistical relational learning</i>.
        </p>
    </div>
</div>