<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="fa fa-info-circle"></i>
        {{ _('What is the Query Catalog?') }}
    </h2>
    <div class="module-content">
        <p>
            The Query Catalog is a service that allows you to use SPARQL queries
            on the set of all the datasets as explained in <a href="https://github.com/ckan/ckanext-dcat#ckanext-dcat">ckanext-dcat</a>
            and available in the <a href="/catalog.ttl">catalog LiveSchema</a>.
            <br /><br />
            More information can be obtained here: <a href="https://www.w3.org/TR/sparql11-overview/">SPARQL 1.1 Overview</a>
        </p>
    </div>
</div>