<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="fa fa-info-circle"></i>
        {{ _('What is the Cue Generator?') }}
    </h2>
    <div class="module-content">
        The Cue Generator Service takes a schema, uses its FCA format, and generates a set of insightful Cues to better understand it.
        <br /><br />
        The notion of “Cue” was used by <a href="http://liveschema.eu/references/Cue.pdf" target="blank">Rosch</a> to define the set of basic level categories, namely those categories which:
        <ul>
            <li>
                maximize the number of characteristics shared by their members;
            </li>
            <li>
                minimize the number of characteristics shared with the members of their sibling categories.
            </li>
        </ul>
        The “Cue” is a key insight for analyzing a resource internal diversity and unity based.
        <br />
        Intuitively:
        <ol type="i">
            <li>
                unity accounts for the properties that are shared across entity types inside a schema;
            </li>
            <li>
                diversity accounts for the properties that are not shared across entity types inside a schema.
            </li>
        </ol>
        We have 6 types of Cue:
        <ul>
            <li>
                <strong>Cue_e</strong> provides the sum of all the properties cue for a given eType;
            </li>
            <li>
                <strong>Cue_er</strong> provides the level of diversity of any eType (1 = max, 0 = min);
            </li>
            <li>
                <strong>Cue_ec</strong> provides the level of unity of any eType  (1 = max, 0 = min);
            </li>
            <li>
                <strong>Cue_c</strong> provides the sum of all the properties cue for a given context/schema;
            </li>
            <li>
                <strong>Cue_cr</strong>: provides the level of diversity of any context (1 = max, 0 = min);
            </li>
            <li>
                <strong>Cue_cc</strong>: provides the level of unity of any context (1 = max, 0 = min).
            </li>
        </ul>
    </div>
</div>