{% extends "package/read_base.html" %}

{% block subtitle %}{{ _('Cue') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{% block page_heading %}{{ _('Cue') }}{% endblock %}</h1>
  {% if cueResource %}
    <header>
      <h1>Cue Metrics generate by the <a href="/service/cue_generator/{{ pkg.name }}">Cue Generator</a></h1>
    </header>
    <ul class="{% block resource_list_class %}resource-list{% endblock %}">
      {% snippet 'package/snippets/resource_item.html', res=cueResource, pkg=pkg, can_edit=can_edit %}
    </ul>

    <section class="additional-info">
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Cue1</th>
              <th scope="col">Cue2</th>
              <th scope="col">Cue3</th>
              <th scope="col">Cue4</th>
              <th scope="col">Cue5</th>
              <th scope="col">Cue6</th>
            </tr>
          </thead>
          <tbody>
            {% for i in range(lenList) %}
            <tr>
              <th scope="row" class="dataset-label">{{ termList[i] }}</th>
              <td class="dataset-details">{{ Cue1List[i] }}</td>
              <td class="dataset-details">{{ Cue2List[i] }}</td>
              <td class="dataset-details">{{ Cue3List[i] }}</td>
              <td class="dataset-details">{{ Cue4List[i] }}</td>
              <td class="dataset-details">{{ Cue5List[i] }}</td>
              <td class="dataset-details">{{ Cue6List[i] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    
  {% else %}
    <h3>No Cue resource available </h3>
    <p>Please generate one using the <a href="/service/cue_generator/{{ pkg.name }}">Cue Generator service</a></p>
    <br />
  {% endif %}
{% endblock %}