{% extends "package/read_base.html" %}

{% block subtitle %}{{ _('Cue') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{% block page_heading %}{{ _('Cue') }}{% endblock %}</h1>
  {% if cueResource %}
    <header>
      <h1>Cue Metrics generate by the <a href="/service/cue_generator/{{ pkg.name }}">Cue Generator</a></h1>
    </header>
    <ul class="{% block resource_list_class %}resource-list{% endblock %}">
      {% snippet 'package/snippets/resource_item.html', res=cueResource, pkg=pkg, can_edit=can_edit %}
    </ul>
    {% if cueResource.format == "CUE" %}
      <section class="additional-info">
        <table class="table table-striped table-bordered table-condensed" style="text-align: center;">
          <thead>
            <tr>
              <td scope="col" style="width: 100%;"><strong>Type</strong></th>
              <td scope="col" style="width: 25%;"><strong>Cue1</strong></th>
              <td scope="col" style="width: 25%;"><strong>Cue2</strong></th>
              <td scope="col" style="width: 25%;"><strong>Cue3</strong></th>
              <td scope="col" style="width: 25%;"><strong>Cue4</strong></th>
              <td scope="col" style="width: 25%;"><strong>Cue5</strong></th>
              <td scope="col" style="width: 25%;"><strong>Cue6</strong></th>
            </tr>
          </thead>
          <tbody>
            {% for i in range(lenList) %}
            <tr>
              <td scope="row" class="dataset-label"><strong>{{ termList[i] }}</strong></th>
              <td class="dataset-details">
                {% if Cue1List[i] != Cue1List[i] %} 
                  0.0
                {% else %} 
                  {{ h.markdown_extract( Cue1List[i]|string() , 9) }}
                {% endif %} 
              </td>
              <td class="dataset-details">
                {% if Cue2List[i] != Cue2List[i] %} 
                  0.0
                {% else %} 
                  {{ h.markdown_extract( Cue2List[i]|string() , 9) }}
                {% endif %} 
              </td>
              <td class="dataset-details">
                {% if Cue3List[i] != Cue3List[i] %} 
                  0.0
                {% else %} 
                  {{ h.markdown_extract( Cue3List[i]|string() , 9) }}
                {% endif %} 
              </td>
              <td class="dataset-details">
                {% if Cue4List[i] != Cue4List[i] %} 
                  0.0
                {% else %} 
                  {{ h.markdown_extract( Cue4List[i]|string() , 9) }}
                {% endif %} 
              </td>
              <td class="dataset-details">
                {% if Cue5List[i] != Cue5List[i] %} 
                  0.0
                {% else %} 
                  {{ h.markdown_extract( Cue5List[i]|string() , 9) }}
                {% endif %} 
              </td>
              <td class="dataset-details">
                {% if Cue6List[i] != Cue6List[i] %} 
                  0.0
                {% else %} 
                  {{ h.markdown_extract( Cue6List[i]|string() , 9) }}
                {% endif %} 
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    {% endif %}
  {% else %}
    <h3>No Cue resource available </h3>
    <p>Please generate one using the <a href="/service/cue_generator/{{ pkg.name }}">Cue Generator service</a></p>
    <br />
  {% endif %}
{% endblock %}



{% block secondary_content %}
  {% snippet "package/snippets/helper_cue.html" %}
{% endblock %}