{% extends "package/read_base.html" %}

{% block subtitle %}{{ _('Graph') }} - {{ super() }}{% endblock %}



{% block secondary %}{% endblock %}

{% block primary %}
  <article class="module">
    <header class="module-content page-header">
      <ul class="nav nav-tabs">
        {# As copied from package/read_base.html  #}
        {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
        {{ h.build_nav_icon('ckanext_liveschema_theme_fca', _('FCA'), id=pkg.name) }}
        {{ h.build_nav_icon('ckanext_liveschema_theme_cue', _('Cue'), id=pkg.name) }}
        {{ h.build_nav_icon('ckanext_liveschema_theme_visualization', _('Visualization'), id=pkg.name) }}
        {{ h.build_nav_icon('ckanext_liveschema_theme_graph', _('Graph'), id=pkg.name) }}
        {{ h.build_nav_icon('ckanext_liveschema_theme_query', _('Query'), id=pkg.name) }}
        {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.name) }}
      </ul>
    </header>
    <div class="module-content">
      <h1 class="hide-heading">{% block page_heading %}{{ _('Graph') }}{% endblock %}</h1>
      <iframe src="http://visualdataweb.de/webvowl/#iri={{ link }}" style="width: 100%;height: 700px;"></iframe>
    </div>
  </article>
{% endblock %}

{# 
{% block primary_content_inner %}
  <h1 class="hide-heading">{% block page_heading %}{{ _('Graph') }}{% endblock %}</h1>
  <iframe src="http://visualdataweb.de/webvowl/#iri={{ link }}" style="width: 100%;height: 700px;"></iframe>
{% endblock %}
#}