{% extends "package/read_base.html" %}

{% block subtitle %}{{ _('Query') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{% block page_heading %}{{ _('Query') }}{% endblock %}</h1>
  <header>
    <h1>Query</h1>
  </header>
  {% if TTL_Resource %}
    <form action="/dataset/query/{{ pkg.name }}" method="post">
        <label for="query">
        Write the SPARQL Query
        </label>
        <br />
        <textarea name="query" rows="10" cols="100">{{ query }}</textarea>
        <br />
        <button class="btn btn-primary btn-lg"> 
            Query
        </button>
        <br />
        <br />
        {% if result %}
          <h3>Result of {{ number }} rows: </h3>
          <p>
            <table style="width:100%">
            {% for row in result %}
              <tr>
              {% for element in row %}
                <td>{{ element }}</td>
              {% endfor %}
              </tr>
            {% endfor %}
            </table>
          </p>
        {% endif %}
    </form>
    <br />
  {% else %}
      <h3>No TTL resources available </h3>
      <br />
  {% endif %}
{% endblock %}