{% ckan_extends %}

{% block content_primary_nav %}
    {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
    {{ h.build_nav_icon('ckanext_liveschema_theme_fca', _('FCA'), id=pkg.name) }}
    {{ h.build_nav_icon('ckanext_liveschema_theme_cue', _('Cue'), id=pkg.name) }}
    {{ h.build_nav_icon('ckanext_liveschema_theme_visualization', _('Visualization'), id=pkg.name) }}
    {{ h.build_nav_icon('ckanext_liveschema_theme_graph', _('Graph'), id=pkg.name) }}
    {{ h.build_nav_icon('ckanext_liveschema_theme_query', _('Query'), id=pkg.name) }}
    {{ h.build_nav_icon('dataset_groups', _('Groups'), id=pkg.name) }}
    {{ h.build_nav_icon('dataset_activity', _('Activities'), id=pkg.name) }}
{% endblock %}