<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="fa fa-info-circle"></i>
        {{ _('What is FCA?') }}
    </h2>
    <div class="module-content">
        <p>
            FCA stands for Formal Concept Analysis.
            <br />
            It is a principled way of deriving a concept hierarchy or formal ontology from a collection of objects and their properties. 
            Each concept in the hierarchy represents the objects sharing some set of properties; and each sub-concept in the hierarchy represents a subset of the objects (as well as a superset of the properties) in the concepts above it.
            <br />
            More information can be obtained here: <a href="http://unblocked.to/unblock.php?site=aHR0cHM6Ly9lbi5tLndpa2lwZWRpYS5vcmcvd2lraS9Gb3JtYWxfY29uY2VwdF9hbmFseXNpcw">Formal Concept Analysis: Mathematical Foundations</a>
        </p>
    </div>
</div>