<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="fa fa-info-circle"></i>
        {{ _('What is the Visualization?') }}
    </h2>
    <div class="module-content">
        <p>
            In order to visualize the datasets we rely on the Intervene tool to produce both a Venn diagram (KnowledgeLotus) and an UpSet plot.
            <br />
            These formats enable us to discover the relations and cross-references existing between different Classes of the dataset.
            <br />
            More information can be obtained here: <a href="https://intervene.readthedocs.io/en/latest/">Intervene Documentation</a>
            
        </p>
    </div>
</div>