<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="fa fa-info-circle"></i>
        {{ _('What is a Knowledge Embedding?') }}
    </h2>
    <div class="module-content">
        <p>
            A Knowledge Embedding is composed of a model (stored in a .PKL file) and its tensors (stored in multiple sheets .XLSX file). 
            <br />
            The output of the Knowledge Embedder is a generalizable context about the input schema that can be used to infer relations and insights about relationships and properties inside the schema. 
            <br /><br />
            For additional information about Knowledge Embeddings techniques, please visit also <a href="https://towardsdatascience.com/introduction-to-knowledge-graph-embedding-with-dgl-ke-77ace6fb60ef" target="blank">Introduction to Knowledge Graph Embeddings</a>.
        </p>
    </div>
</div>