<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="fa fa-info-circle"></i>
        {{ _('What is a Cue?') }}
    </h2>
    <div class="module-content">
        <p>
            A Cue is a key insight for analyzing a resource internal diversity based upon <a href="https://commonweb.unifr.ch/artsdean/pub/gestens/f/as/files/4610/9778_083247.pdf">Rosch’s cue validity</a>.
            <br />
            This notion was used to define the set of basic level categories, namely those categories which maximize the number of characteristics shared by their members and minimize the number of characteristics shared with the members of their sibling categories.
            <br />
            More detailed information can be obtained here: <a href="https://www.researchgate.net/publication/335310353_On_Knowledge_Diversity">On Knowledge Diversity</a>
        </p>
    </div>
</div>