<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="fa fa-info-circle"></i>
        {{ _('What is FCA?') }}
    </h2>
    <div class="module-content">

        <p>
            FCA stands for Formal Concept Analysis.
            <br />
            It is a principled way of deriving a concept hierarchy or formal ontology from a collection of objects and their properties. 
            <br />
            Each concept in the hierarchy represents the objects sharing some set of properties; and each sub-concept in the hierarchy represents a subset of the objects (as well as a superset of the properties) in the concepts above it.
            <br /><br />
            It can be then easily used to run analysis over the input schema and train ML models for a specific task, such as Relational Learning. 
            <br /><br />
            The theoretical assumptions grounding the FCA encoding are explained in <a href="https://www.researchgate.net/publication/341901941_Entity_Type_Recognition_--_dealing_with_the_Diversity_of_Knowledge" target="blank">Entity Type Recognition -- dealing with the Diversity of Knowledge</a>.
        </p>
    </div>
</div>