{% extends "page.html" %}

{% block subtitle %}{{ _("FCA Generator") }}{% endblock %}

{% block breadcrumb_content %}
  <li>{{ h.nav_link(_('Services'), controller='ckanext.liveschema_theme.controller:LiveSchemaController', action='services') }}</li>
  <li class="active"><a href="{{ h.url_for_static('/service/fca_generator') }}">FCA Generator</a></li>
{% endblock %}

{% block primary_content %}
  <article class="module module-content">
    <header>
      <h1>FCA Generator</h1>
    </header>
    <div class="col-sm-7">
      <form action="/service/fca_generator" method="post">
        <label for="select2">
          Select the dataset for the FCA Matrix generation
        </label>
        <br />
        <select class="js-example-basic-single js-states js-example-responsive" style="width: 100%" id="select2" name="dataset">
            <option></option>
            {% for dataset in h.liveschema_theme_dataset_selection("Generate the FCA Matrix", "First reset the resources", "Parsed csv") %}
              <option value="{{ dataset.name }},{{ dataset.link }},{{ dataset.btn }}" class="{% if dataset.link == "" %}no{% else %}ok{% endif %}"{% if id and id == dataset.name %}selected="selected"{% endif %}>{{ dataset.title }}</option>
            {% endfor %}
        </select>
        <br />
        <br />
        <button class="btn btn-primary btn-lg"> 
            Generate the FCA Matrix
        </button>
        <br />
        <h3 onclick="document.getElementById('advanced').classList.toggle('hide-heading');"><a>Advanced option</a></h3>
        <div id="advanced" class="hide-heading">
          <label for="predicates">
            Select the predicates to consider for the FCA Matrix (optional)
          </label>
          <br />
          <input type="text" name="strPredicates" placeholder="Both URI or last term accepted, case sensitive" id="predicates" style="width: 100%">
        </div>
        <br />
        <br />
      </form>
    </div>
    {% if alert %}
      <div class="col-sm-5">
        <div class="alert alert-warning" role="alert">
          <strong>FCA Needed</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <hr />
          You need to generate the FCA Matrix 
          <br />
          before using the {{ alert }} service
        </div>
      </div>
    {% endif %}
    {{ args }}
  </article>

  {% resource 'liveschema_theme/select2_singleDataset.js' %}

  {% resource 'liveschema_theme/select2/select2.js' %}
{% endblock %}

{% block secondary_content %}
  {% snippet "service/snippets/helper_fca.html" %}
{% endblock %}

{% block styles %}
    {{ super() }}
    {% resource 'liveschema_theme/select2/select2.css' %}
{% endblock %}