{% extends "page.html" %}

{% block subtitle %}{{ _("Query Catalog") }}{% endblock %}

{% block breadcrumb_content %}
  <li>{{ h.nav_link(_('Services'), controller='ckanext.liveschema_theme.controller:LiveSchemaController', action='services') }}</li>
  <li class="active"><a href="{{ h.url_for_static('/service/query_catalog') }}">Query Catalog</a></li>
{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{% block page_heading %}{{ _('Query') }}{% endblock %}</h1>
  <header>
    <h1>Query</h1>
  </header>
  
{% endblock %}

{% block primary_content %}
  <article class="module module-content">
    <header>
      <h1>Query Catalog</h1>
    </header>
    <form action="/service/query_catalog" method="post">
        <label for="query">
        Write the SPARQL Query
        </label>
        <br />
        <textarea name="query" rows="10" cols="100">{{ query }}</textarea>
        <br />
        <button class="btn btn-primary btn-lg"> 
            Query
        </button>
        <br />
        <br />
        {% if result %}
          <h3>Result of {{ number }} rows: </h3>
          <p>
            <table style="width:100%">
            {% for row in result %}
              <tr>
              {% for element in row %}
                <td>{{ element }}</td>
              {% endfor %}
              </tr>
            {% endfor %}
            </table>
          </p>
        {% endif %}
    </form>
    <br />
{% endblock %}

{% block secondary_content %}
  {% snippet "service/snippets/helper_query.html" %}
{% endblock %}

{% block styles %}
    {{ super() }}
    {% resource 'liveschema_theme/select2/select2.css' %}
{% endblock %}