{% extends "page.html" %}

{% block subtitle %}{{ _("Services") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Services'), controller='ckanext.liveschema_theme.controller:LiveSchemaController', action='services') }}</li>
{% endblock %}

{% block primary_content %}
  <article class="module module-content">
    <header>
      <h1>Services</h1>
    </header>
      <ul class="media-grid" data-module="media-grid">
        {% if h.check_access('ckanext_liveschema_theme_updater') %}
          {# Updater #}
          <li class="media-item">
            <img src="http://liveschema.eu/images/services/Updater.png" alt="Updater" class="img-responsive media-image">
            <h3 class="media-heading">LiveSchema Updater</h3>
              Scrape the Catalogs searching for new information in order to have an always updated system
            <a href="/service/updater" title="Go to LiveSchema Updater" class="media-view">
              <span>Go to the LiveSchema Updater</span>
            </a>
          </li>
        {% endif %}

          {# Uploader #}
          <li class="media-item">
            <img src="http://liveschema.eu/images/services/Uploader.webp" alt="Uploader" class="img-responsive media-image">
            <h3 class="media-heading">Dataset Uploader</h3>
              Add your Dataset to LiveSchema
            <a href="/service/uploader" title="Go to Dataset Uploader" class="media-view">
              <span>Go to Dataset Uploader</span>
            </a>
          </li>

          {# Embedder #}
          <li class="media-item">
            <img src="http://liveschema.eu/images/services/K-Embedder.png" alt="Embedder" class="img-responsive media-image">
            <h3 class="media-heading">Knowledge Embedder</h3>
              Generate the Knowledge Embedding from a given Dataset 
            <a href="/service/embedder" title="Go to the Knowledge Embedder" class="media-view">
              <span>Go to the Knowledge Embedder</span>
            </a>
          </li>
      
          {# FCA_Generator #}
          <li class="media-item">
            <img src="http://liveschema.eu/images/services/FCA.png" alt="FCA_Generator" class="img-responsive media-image">
            <h3 class="media-heading">FCA Generator</h3>
              Generate the FCA matrix from a given Dataset 
            <a href="/service/fca_generator" title="Go to the FCA Generator" class="media-view">
              <span>Go to the FCA Generator</span>
            </a>
          </li>
      
          {# Cue_Generator #}
          <li class="media-item">
            <img src="http://liveschema.eu/images/services/Cue.png" alt="Cue_Generator" class="img-responsive media-image">
            <h3 class="media-heading">Cue Generator</h3>
              Extract the Cue Metrics from a given Dataset in order to gain more insightful information
            <a href="/service/cue_generator" title="Go to the Cue Generator" class="media-view">
              <span>Go to the Cue Generator</span>
            </a>
          </li>

          {# Visualization_Generator #}
          <li class="media-item">
            <img src="http://liveschema.eu/images/services/Visualisation.png" alt="Cue_Generator" class="img-responsive media-image">
            <h3 class="media-heading">Visualization Generator</h3>
              Generate the input file for the Visualization tool from a given Dataset
            <a href="/service/visualization_generator" title="Go to the Visualization Generator" class="media-view">
              <span>Go to the Visualization Generator</span>
            </a>
          </li>

          {# Query Catalog #}
          <li class="media-item">
            <img src="http://liveschema.eu/images/services/Query-Catalog.png" alt="Query_Catalog" class="img-responsive media-image">
            <h3 class="media-heading">Query Catalog</h3>
              SPARQL Query to analyse the whole Catalog of Datasets
            <a href="/service/query_catalog" title="Go to the Query Catalog" class="media-view">
              <span>Go to the Query Catalog</span>
            </a>
          </li>
      
        </ul>
  </article>
{% endblock %}

{% block secondary_content %}
  {% snippet "service/snippets/helper_services.html" %}
{% endblock %}