{% extends "page.html" %}

{% block subtitle %}{{ _("LiveSchema Updater") }}{% endblock %}

{% block breadcrumb_content %}
  <li>{{ h.nav_link(_('Services'), controller='ckanext.liveschema_theme.controller:LiveSchemaController', action='index') }}</li>
  <li class="active"><a href="{{ h.url_for_static('/service/updater') }}">LiveSchema Updater</a></li>
{% endblock %}

{% block primary_content %}
  <article class="module module-content">
    <header>
      <h1>LiveSchema Updater</h1>
    </header>
    <form action="/service/updater" method="post">
      <label for="select2">
        Select the catalogs to update
      </label>
      <br />
      <select class="js-example-basic-multiple js-example-responsive" style="width: 50%" id="select2" multiple="multiple" name="catalogs">
        {% for catalog in h.liveschema_theme_catalog_selection() %}
          <option value="{{ catalog.name }}">{{ catalog.title }}</option>
        {% endfor %}
      </select>
      <br />
      <br />
      <button class="btn btn-primary btn-lg"> 
        <i class="fa fa-refresh" aria-hidden="true"></i>
          Update LiveSchema 
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    
  </form>
  </article>

  {% resource 'liveschema_theme/updater.js' %}

  {% resource 'liveschema_theme/select2/select2.js' %}
{% endblock %}

{% block secondary_content %}
  {% snippet "service/snippets/helper_update.html" %}
{% endblock %}

{% block styles %}
    {{ super() }}
    {% resource 'liveschema_theme/select2/select2.css' %}
{% endblock %}