<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="fa fa-info-circle"></i>
        {{ _('What are Organizations?') }}
    </h2>
    <div class="module-content">
        <p>
            This section provides <i>an observatory of the ontology and vocabulary catalogs ecosystem</i>.
            <br />
            This collection of catalogs is continuously updated, according to admins initiative or following suggestions by users.
            <br /><br />
            At the current state LiveSchema hosts schemas (i.e. vocabularies) catalogs only. 
            <br />
            The extension of LiveSchema with other kinds of data catalogs is part of future work.
            <br /><br />
            Most of the catalogs are free to browse, other catalogs need subscription <a href="{{ h.url_for('user.read', id=c.userobj.name) }}">credentials</a>.
            <br /><br />
            Users (according to their level of authorization) can create, manage and publish datasets within catalogs.
            <br /><br />
            If you want to suggest a new catalog, please <a href="/contact">Contact us</a>.
        </p>
    </div>
</div>