{% ckan_extends %}

{% block links -%}
    <link rel="shortcut icon" href="http://liveschema.eu/images/Cropped-DS-Logo.png" />
{% endblock -%}

{% block page %}
{% endblock %}

{% block styles %}
    {# Import liveschema_theme.css using Fanstatic.
        'liveschema_theme/' is the name that the liveschema_theme/fanstatic directory
        was registered with when the toolkit.add_resource() function was called.
        'liveschema_theme.css' is the path to the CSS file, relative to the root of
        the fanstatic directory. #}
    {% resource 'liveschema_theme/liveschema_theme.css' %}

    {{ super() }}

{% endblock %}