<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('What are Groups?') }}
    </h2>
    <div class="module-content">
      <p>
        Providers are the <i>organizations</i> or <i>people</i> that are authors of a reference dataset. 
        <br />
        By selecting a provider, it is possible to browse all the published datasets. 
        <br /><br />
        Providers' information is directly updated from the reference source catalog or can be modified/updated by subscribed and authorized users.
      </p>
    </div>
  </div>