<div role="main" class="hero">
  <div class="container">
    <div class="col1 col-md-6">
      {% snippet 'home/snippets/search.html' %}
      <br />
      <div class="module-content box">
          <header>
            <h1 class="page-heading">Catalogs</h1>
              <ul style="overflow-y: auto;height: 350px;">
                {% for org in h.liveschema_theme_most_popular_catalogs() %}
                  {% if org.package_count != 0 %}
                    <li>
                      <a href="/organization/about/{{ org.name }}">
                        <h3>{{ org.title }}</h3>
                      </a>
                      {% if org.description %}
                        <p>
                          {{ h.markdown_extract(org.description, extract_length=140) }}
                        </p>
                      {% else %}
                        <p>{{ _('This catalog has no description') }}</p>
                      {% endif %}
                        <strong><a href="{{ h.url_for('organization_read', action='read', id=org.name) }}">{{ org.package_count}} {% if org.package_count==1 %}dataset{% else %}datasets{% endif %}</a></strong>
                    </li>
                    <br />
                  {% endif %}
                {% endfor %}
              </ul>
          </header>
        </div>
        <br />
        <div class="module-content box">
          <header>
            <h1 class="page-heading">Recent activities</h1>
            {{ _(h.recently_changed_packages_activity_stream(limit=5)) }}
          </header>
        </div>
        <br />
    </div>
    <div class="col2 col-md-6">
      <div class="module-content box">
        <header>
          <h1 class="page-heading">Services</h1>
        </header>
        <ul class="media-grid" data-module="media-grid" style="overflow-y: auto;height: 475px;text-align: center;">
        {% if h.check_access('ckanext_liveschema_theme_updater') %}
          {# Updater #}
          <li class="media-item" style="width:45%">
            <img src="http://liveschema.eu/images/services/Updater.png" alt="Updater" class="img-responsive media-image" style="width:34%; height:34%; display: block; margin-left: auto; margin-right: auto;" ALIGN=center>
            <h3 class="">LiveSchema Updater</h3>
            <a href="/service/updater" title="Go to LiveSchema Updater" class="media-view">
              <span>Go to the LiveSchema Updater</span>
            </a>
          </li>
        {% endif %}

          {# Uploader #}
          <li class="media-item" style="width:45%">
            <img src="http://liveschema.eu/images/services/Uploader.webp" alt="Uploader" class="img-responsive media-image" style="width:34%; height:34%; display: block; margin-left: auto; margin-right: auto;" ALIGN=center>
            <h3 class="">Dataset Uploader</h3>
            <a href="/service/uploader" title="Go to Upload Dataset" class="media-view">
              <span>Go to Upload Dataset</span>
            </a>
          </li>

          {# Embedder #}
          <li class="media-item" style="width:45%">
            <img src="http://liveschema.eu/images/services/K-Embedder.png" alt="Embedder" class="img-responsive media-image" style="width:42%; height:42%; display: block; margin-left: auto; margin-right: auto;" ALIGN=center>
            <h3 class="media-heading">Knowledge Embedder</h3>
            <a href="/service/embedder" title="Go to the Knowledge Embedder" class="media-view">
              <span>Go to the Knowledge Embedder</span>
            </a>
          </li>
      
          {# FCA_Generator #}
          <li class="media-item" style="width:45%">
            <img src="http://liveschema.eu/images/services/FCA.png" alt="FCA_Generator" class="img-responsive media-image" style="width:50%; height:50%; display: block; margin-left: auto; margin-right: auto;" ALIGN=center>
            <h3 class="media-heading">FCA Generator</h3>
            <a href="/service/fca_generator" title="Go to the FCA Generator" class="media-view">
              <span>Go to the FCA Generator</span>
            </a>
          </li>
      
          {# Cue_Generator #}
          <li class="media-item" style="width:45%">
            <img src="http://liveschema.eu/images/services/Cue.png" alt="Cue_Generator" class="img-responsive media-image" style="width:46%; height:46%; display: block; margin-left: auto; margin-right: auto;" ALIGN=center>
            <h3 class="media-heading">Cue Generator</h3>
            <a href="/service/cue_generator" title="Go to the Cue Generator" class="media-view">
              <span>Go to the Cue Generator</span>
            </a>
          </li>

          {# Visualization_Generator #}
          <li class="media-item" style="width:45%">
            <img src="http://liveschema.eu/images/services/Visualisation.png" alt="Cue_Generator" class="img-responsive media-image"  style="width:52%; height:52%; display: block; margin-left: auto; margin-right: auto;" ALIGN=center>
            <h3 class="media-heading">Visualization Generator</h3>
            <a href="/service/visualization_generator" title="Go to the Visualization Generator" class="media-view">
              <span>Go to the Visualization Generator</span>
            </a>
          </li>

          {# Query Catalog #}
          <li class="media-item" style="width:45%">
            <img src="http://liveschema.eu/images/services/Query-Catalog.png" alt="Query_Catalog" class="img-responsive media-image" style="width:46%; height:46%; display: block; margin-left: auto; margin-right: auto;" ALIGN=center>
            <h3 class="media-heading">Query Catalog</h3>
            <a href="/service/query_catalog" title="Go to the Query Catalog" class="media-view">
              <span>Go to the Query Catalog</span>
            </a>
          </li>
        </ul>
        <br />
      </div>
      <br />
    </div>
  </div>
</div>